language: cpp
sudo: required
os: linux
dist: xenial
compiler:
- gcc
notifications:
  email: false

before_install:
# C++17
- sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
- sudo apt-get update -qq

install:
# C++17
- sudo apt-get install -qq g++-7
- sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7.3 30 --slave /usr/bin/g++ g++ /usr/bin/g++-7.3
# Conan
- sudo apt-get install python3
- sudo apt-get install python3-pip
- pip3 install --upgrade setuptools
- pip3 install -r requirements.txt
- conan profile new default --detect  # Generates default profile detecting GCC and sets old ABI
- conan profile update settings.compiler.libcxx=libstdc++11 default  # Sets libcxx to C++11 ABI
- conan install -if ./cmake-build-debug .

before_script:
- g++ --version

script:
- cmake -H. -Bcmake-build-debug
- cmake --build ./cmake-build-debug --target runTests -- -j3
- scripts/runAllTests
