language: cpp
sudo: required
os: linux
dist: xenial
compiler:
- gcc
notifications:
  email: false
cache:
  directories:
  - $HOME/.conan
  - $HOME/.cache/pip

before_install:
# C++17
- sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
- sudo apt-get update -qq

install:
# C++17
- sudo apt-get install -qq gcc-7 g++-7
- sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 30 --slave /usr/bin/g++ g++ /usr/bin/g++-7
# GNU Scientific Library. There isn't a Conan package for GSL yet.
- sudo apt-get install gsl-dev
# Conan
- sudo apt-get install python3
- sudo apt-get install python3-pip
- pip3 install --upgrade setuptools
- pip3 install -r requirements.txt
- conan profile new default --detect  # Generates default profile detecting GCC and sets old ABI
- conan profile update settings.compiler.libcxx=libstdc++11 default  # Sets libcxx to C++11 ABI
- conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
- conan install -if ./cmake-build-debug .

before_script:
- g++ --version

script:
- cmake -H. -Bcmake-build-debug
- cmake --build ./cmake-build-debug --target runTests -- -j3
- scripts/runAllTests
